/* Google Font (start) */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Google Font (end) */

:root {
  --primary-color: #0c79f9;
  --primary-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --secondary-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --title-font-family: "Sora", sans-serif;
  --normal-text-font-family: "Poppins", sans-serif;
  --inter-font-family: "Inter", sans-serif;
  --heading-font-weight: 600;
  --normal-title-font-weight: 400;
}

p, h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
}

.my-container {
  width: 60rem;
  margin: 0 auto;
}

.service_kit .items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
}

.service_kit .items .img_service_kit {
    border-radius: 9px;
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.product-title{
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
}

.product-description{
    font-family: var(--normal-text-font-family);
    font-size: 14px;
}

.product-description-line{
    font-family: var(--normal-text-font-family);
    font-size: 14px;
}

@media (max-width: 700px) {
    .service_kit .items .img_service_kit {
        width: 100%;
    }

    .service_kit .items .right_item .button {
        width: 100%;
        text-align: center;
    }

    .service_kit .items .left_item {
        width: 100%;
    }

}

.owl-carousel{
    position: relative;
}

.owl-theme .owl-nav{
    margin-top: 0 !important;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 22px;
    transform: translateY(-50%);
    width: 100%;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    border: none;
    outline: none !important;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.owl-carousel .owl-nav button.owl-prev span, .owl-carousel .owl-nav button.owl-next span{
    margin-top: -3px;
}

.owl-item{
    height: 110px !important;
}

.owl-item .item{
    height: 100%;
}

.service_kit .items .left_item {
    width: 40%;
}

.service_kit .items .left_item .owl-carousel img {
    object-fit: cover;
    border-radius: 8px;
    height: 100%;
}

.service_kit .items .right_item {
    width: 40%;
}

.service_kit .items .right_item li {
    padding: 2px 0px;
}

.service_kit .items .right_item .button {
    padding: 8px 14px;
    width: 300px;
    text-align: center;
}

.service_kit .items .right_item .amount_big {
    font-size: 23px;
    color: var(--color-blue);
}

.service_kit .items .right_item .old_amount {
    font-size: 20px;
    color: var(--text-gray);
    text-decoration: line-through;
    text-decoration-color: red;
}

/* 
Product Details
*/

.pd_details .header {
    display: flex;
    justify-content: center;
}

.pd_details .header .content {
    max-width: 571px;
    text-align: center;
}

/* Features (start) */

.features {
  padding: 4.063rem 0;
  background-color: #f9fafb;
  margin-bottom: 3.125rem;
}

.features-title {
  font-family: var(--title-font-family);
  font-weight: var(--normal-title-font-weight);
  background: linear-gradient(263.57deg, #62bb46 20%, #0c79f9 63%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  display: inline-block;
}

.features-heading {
  font-family: var(--title-font-family);
  font-weight: var(--heading-font-weight);
}

.features-short-description {
  font-family: var(--normal-text-font-family);
  font-weight: var(--normal-title-font-weight);
  font-size: 0.813rem;
  line-height: 1.4rem;
  color: #7b7b7b;
}

.features-container {
  display: flex;
  /* justify-content: center; */
  gap: 1.25rem;
}

.feature {
  width: 33%;
  background-color: #fff;
  padding: 1.125rem;
  border-radius: 0.938rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: all 0.3s;
}

.feature:hover {
  transform: scale(1.03);
}

.feature-logo {
  width: 3.125rem;
  height: 3.125rem;
  overflow: hidden;
}

.feature-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.feature-title {
  font-family: var(--normal-text-font-family);
  font-weight: 600;
  font-size: 1rem;
}

.feature-text-description {
  font-family: var(--normal-text-font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.125rem;
  color: #7b7b7b;
}

/* Features (end) */

/* tabs */
.pd_details .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.pd_details .tabs>div {
    /* background-color: rgb(248, 248, 248); */
}


.pd_detail_svg {
    stroke: #D8E9FF;
    cursor: pointer;
}

.pd_detail_svg path {
    stroke: #D8E9FF;
}

.pd_detail_svg circle {
    fill: #F1F8FF;
}

.pd_detail_svg_active {
    stroke: #238AFF;
}

.pd_detail_svg_active path {
    stroke: #238AFF;
}

.pd_detail_svg_line_active {
    fill: #238AFF;
}

.tab_content {
    display: none;
    /* border: 1px solid gray; */
}

.pd_detail_svg_text {
    color: rgb(170, 170, 170);
    font-family: var(--normal-text-font-family);
    font-size: 14px;
}

.pd_detail_svg_text_active {
    color: var(--primary-color);
    font-family: var(--normal-text-font-family);
    font-size: 14px;
}

.p-detail-hl-line-title{
    font-family: var( --title-font-family);
    font-weight: var(--heading-font-weight);
}

.p-detail-hl-line-item-text{
   font-family: var(--normal-text-font-family);
   font-size: 14px;
   line-height: 1.8;
   color: #7b7b7b;
}

.p-detail-desc-line-text{
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 0.813rem;
    line-height: 1.4rem;
    color: #7b7b7b;
}

.p-detail-specification-title{
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
}

.p-detail-specification-table-text{
    font-family: var( --normal-text-font-family);
    font-size: 14px;
}

/* 
    filtration
    Description
 */
.block .header {
    display: flex;
    justify-content: center;
}

.block .header .content {
    max-width: 400px;
    text-align: center;
}

.block .header .content .desc {
    color: var(--text-gray);
    line-height: 21px;
    margin-top: 12px;
}

.filtration .con_banner_and_desc {
    padding: 20px 0px 40px 0px;
}

.filtration .bg_light {
    background-color: #F9FAFB;
}

.filtration .banner_and_desc {
    display: flex;
    align-items: center;
    gap: 40px;
}

.filtration .banner-container{
    width: 40%;
    height: 280px;
    border-radius: var(--img-radius);
    overflow: hidden;
}

@media(max-width: 992px) {
    .filtration .banner_and_desc {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
    }

    .filtration .banner-container{
        width: 100% !important;
        height: 440px;
    }

    .banner_and_desc_text {
        width: 100% !important;
    }
}

@media(max-width: 576px){
    .filtration .banner-container{
        height: 300px;
    }
}

@media(max-width: 450px){
    .filtration .banner-container{
        height: 250px;
    }
}

.filtration .banner_and_desc .title {
    font-size: 17px;
}

.banner_and_desc_text{
    width: 60%;
}

.filtration .banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* pd_details_content */

.pd-detail-title{
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
}

.pd-detail-description{
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 0.813rem;
    line-height: 1.4rem;
    color: #7b7b7b;
}

.pd_details_content .banner_and_desc2 {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media (max-width: 992px) {
    .pd_details_content .banner_and_desc2 {
        flex-wrap: wrap;
    }
}

/* End pd_details_content */

/* End filtration */
/* End Description */

/* 
End Product Details
*/

/*
    Frequently Asked Question
*/

.faq-title{
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
}

.faq .accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgb(242, 242, 242);
    cursor: pointer;
}

.faq .active+.panel {
    background-color: #0C79F9;
    color: white;
}

.faq .spacer {
    margin-bottom: 10px;
}

.faq .accordion:after {
    content: '\2335';
    font-weight: bold;
    float: right;
    text-align: center;
    transition: rotate 200ms;
}

.faq .active:after {
    content: "\2335";
    rotate: 180deg;
}

.faq .panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: -1px;
    border-left: 1px solid rgb(242, 242, 242);
    border-right: 1px solid rgb(242, 242, 242);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: fit-content;
}

.accordions {
    width: 60%;
}

@media (max-width: 700px) {
    .accordions {
        width: 100%;
    }
}

.faq_text {
    line-height: 21px;
    margin-top: 1rem;
    font-family: var(--normal-text-font-family);
    font-size: 0.813rem;
    padding-bottom: 20px;
}

.faq .faq_content {
    display: flex;
    justify-content: center;
}

/*
    End Frequently Asked Question
*/

/* Testimonials (start) */

.my-container {
    width: 60rem;
    margin: 0 auto;
}

.testimonial .swiper-pagination {
    display: none;
}

.testimonial {
    /* margin-bottom: 5.625rem; */
}

.testimonial-title {
    font-family: var(--title-font-family);
    font-weight: var(--normal-title-font-weight);
    background: linear-gradient(263.57deg, #62bb46 20%, #0c79f9 63%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    display: inline-block;
}

.testimonial-heading {
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
    margin-bottom: 1.875rem;
}

.testimonial-slide {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.client-image {
    width: 35%;
    height: 17.188rem;
    overflow: hidden;
    border-radius: 0.938rem;
}

.client-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-comment {
    width: 65%;
}

.testimonial-icon {
    width: 3.438rem;
}

.client-comment-text {
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    line-height: 1.5rem;
    color: #7b7b7b;
    margin-bottom: 1.125rem;
}

.client-name {
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
}

.client-designation {
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    line-height: 1.5rem;
    color: #7b7b7b;
    font-size: 15px;
}

.testimonial .swiper-wrapper {
    padding-bottom: 4.063rem;
}

.testimonial .swiper-button-next,
.testimonial .swiper-button-prev {
    top: 90%;
}

.testimonial .swiper-button-prev {
    left: 38%;
    transform: translateX(-50%);
}

.testimonial .swiper-button-next {
    right: 53%;
    transform: translateX(-50%);
}

.testimonial .swiper-button-next,
.testimonial .swiper-button-prev {
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px 15px;
    transition: all 0.3s ease;
    width: 40px !important;
    height: 40px !important;
    border: 2px solid var(--primary-color);
    border-radius: 100%;
}

.testimonial .swiper-button-prev:hover,
.testimonial .swiper-button-next:hover {
    background-color: var(--primary-color);
}

.testimonial .swiper-button-next:after,
.testimonial .swiper-button-prev:after {
    font-size: 10px;
}

.testimonial .swiper-button-prev:hover,
.testimonial .swiper-button-next:hover {
    color: #fff;
}

@media(max-width: 576px){
    .pd-detail-arrow{
        display: none;
    }

    .tabs{
        gap: 20px;
    }
}

@media(max-width: 350px){
    .tabs{
        flex-direction: column;
        gap: 20px;
    }
}

@media (min-width: 0px) {
    .my-container {
        width: 100%;
        padding: 0 0.625rem;
    }

    .features-container {
       flex-wrap: wrap;
    }

    .feature {
       width: 100%;
    }

    .testimonial-slide {
        flex-wrap: wrap;
    }

    .client-image,
    .client-comment {
        width: 100%;
    }

    .testimonial .swiper-button-next,
    .testimonial .swiper-button-prev {
        top: 97%;
    }

    .testimonial .swiper-button-prev {
        left: 35%;
        transform: translateX(-35%);
    }

    .testimonial .swiper-button-next {
        right: 35%;
        transform: translateX(-35%);
    }

    .testimonial .swiper-button-next,
    .testimonial .swiper-button-prev {
        display: none;
    }

    .testimonial .swiper-pagination {
        display: block;
    }

    .testimonial .swiper-wrapper {
        padding-bottom: 2.813rem;
    }

    .service_kit .items{
        flex-direction: column;
    }

    .service_kit .items .left_item, .service_kit .items .right_item {
        width: 100%;
    }

    .service_kit .items .right_item .button{
        width: 100%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .my-container {
        width: 34rem;
    }

    .client-image {
        height: 23.125rem;
    }

    .testimonial .swiper-button-prev {
        left: 40%;
        transform: translateX(-40%);
    }

    .testimonial .swiper-button-next {
        right: 40%;
        transform: translateX(-40%);
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .my-container {
        width: 45rem;
    }

    .feature {
        width: 48%;
    }

    .testimonial .swiper-button-next,
    .testimonial .swiper-button-prev {
        display: flex;
    }

    .testimonial .swiper-pagination {
        display: none;
    }

    .testimonial .swiper-wrapper {
        padding-bottom: 4.063rem;
    }

    .testimonial .swiper-button-prev {
        left: 43%;
        transform: translateX(-43%);
    }

    .testimonial .swiper-button-next {
        right: 43%;
        transform: translateX(-43%);
    }

    .service_kit .items{
        flex-direction: row;
    }

    .service_kit .items .left_item, .service_kit .items .right_item {
        width: 40%;
    }

    .service_kit .items .right_item .button{
        width: 300px;
    }

    .owl-item{
        height: 55px !important;
    }

    .owl-theme .owl-nav{
        bottom: -3px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .my-container {
        width: 60rem;
    }

    .features-container {
        flex-wrap: nowrap;
    }

    .feature {
        width: 33%;
    }

    .testimonial-slide {
        flex-wrap: nowrap;
    }

    .client-image {
        width: 35%;
        height: 17.188rem;
    }

    .client-comment {
        width: 65%;
    }

    .testimonial .swiper-button-next,
    .testimonial .swiper-button-prev {
        top: 90%;
    }

    .testimonial .swiper-button-prev {
        left: 38%;
        transform: translateX(-50%);
    }

    .testimonial .swiper-button-next {
        right: 53%;
        transform: translateX(-50%);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .my-container {
        width: 60rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .my-container {
        width: 71.25rem;
    }
}

/* Responsiveness (end) */

/* Testimonials (end) */