/* Global */

/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


:root {
    --color-gray: gray;
    --color-blue: #0C79F9;
    --text-gray: gray;
    --hover-opacity: .9;
    --img-radius: 17px;
    --primary-color: #0c79f9;
    --color_primary: #0c79f9;
    --title-font-family: "Sora", sans-serif;
    --normal-text-font-family: "Poppins", sans-serif;
    --inter-font-family: "Inter", sans-serif;
    --heading-font-weight: 600;
    --normal-title-font-weight: 400;
}

.text {
    color: var(--text-gray);
    line-height: 21px;
    font-family: var(--normal-text-font-family);
    font-size: 0.875rem;
}

/* Login form container (start) */

.hamburger-and-user-image{
    display: flex;
    gap: 7px;
    align-items: center;
    border: 1px solid #ddd;
    padding: 5px 12px;
    border-radius: 100px;
}

.hamburger-user-image{
    width: 25px;
}

.user-sign-in-button{
    margin-bottom: 0 !important;
}

.login-form-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(124, 124, 124, 0.6);
    top: 0;
    left: 0;
    z-index: 100000000;
}

.login-form{
    width: 95%;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.company-logo{
    width: 90px;
}

.login-form-left, .login-form-right{
    width: 100%;
}

.login-form-image{
    width: 100%;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
}

.login-form-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form-title{
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
}

.login-form-short-desc{
    font-family: var(--normal-text-font-family);
    font-size: 13px;
    color: #7b7b7b;
}

.login-form-input{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    font-family: var(--normal-text-font-family);
    font-size: 13px;
    outline: none !important;
    width: 100%;
}

.invalid-phone-number-warning, .invalid-otp-warning, .invalid-first-name-warning, .invalid-last-name-warning, .invalid-email-warning, .existing-email-warning{
    width: 100%;
    font-family: var(--inter-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 0.813rem;
    padding: 0.313rem 0.625rem;
    background-color: #FFEAF8;
    color: #E10505;
    border-radius: 0.313rem;
    display: none;
}

#login-form-otp-input{
    display: none;
}

.login-form-proceed-btn{
    width: 100%;
    border: none !important;
    outline: none !important;
    padding: 10px 0;
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--normal-text-font-family);
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

#login-form-proceed-btn-otp{
    display: none;
}

.login-form-proceed-loading-btn, .create-user-login-form-proceed-loading-btn{
  outline: none !important;
  padding: 12.5px 0;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: var(--normal-text-font-family);
  transition: all 0.3s;
  cursor: not-allowed;
  border-radius: 4px;
  width: 100%;
  display: none;
}

.login-form-personal-info{
    display: none;
}

/* Login form container (end) */

.talk-with-expert-button{
    position: fixed;
    right: -40px;
    top: 44%;
    z-index: 10000000;
    transform: rotate(-90deg);
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none !important;
    background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(12,121,249,1) 0%, rgba(179,103,255,1) 100%);
    color: #fff;
    font-family: var(--title-font-family);
    font-size: 14px;
    font-weight: var(--normal-title-font-weight);
    border-radius: 5px;
    display: none;
}

.expert-form-container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(124, 124, 124, 0.6);
    top: 0;
    left: 0;
    z-index: 100000000;
}

.talk-with-expert-form{
    background-color: #fff;
    width: 330px;
    border-radius: 10px;
    /* display: none; */
}

.talk-with-expert-form-submission-done{
    background-color: #fff;
    width: 330px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

.talk-with-expert-form-submission-done-title{
    font-family: var(--title-font-family);
}

.talk-with-expert-form-submission-done-btn{
    border: none;
    outline: none !important;
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--title-font-family);
    font-weight: var(--normal-title-font-weight);
    border-radius: 5px;
    font-size: 15px;
    padding: 8px 30px;
    cursor: pointer;
}

.talk-with-expert-form-submission-done-icon{
    width: 40px;
}

.expert-form-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: var(--title-font-family);
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.expert-form-header-title{
    margin-bottom: 0;
}

.expert-form-close-icon{
    cursor: pointer;
}

.expert-form-body{
    padding: 10px;
}

.expert-form-label{
    font-family: var(--normal-text-font-family);
    font-size: 13px;
    margin-bottom: 3px !important;
    font-weight: 500;
}

.expert-form-label-required{
    color: red;
}

.expert-form-input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: var(--normal-text-font-family);
    font-size: 13px;
    width: 100%;
    outline: none !important;
}

.no-user-name-warning, .no-phone-number-warning{
    width: 100%;
    font-family: var(--inter-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 0.813rem;
    padding: 0.313rem 0.625rem;
    background-color: #FFEAF8;
    color: #E10505;
    border-radius: 0.313rem;
    display: none;
}

.expert-form-submit-btn{
    outline: none !important;
    border: none;
    width: 100%;
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--title-font-family);
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.expert-form-submit-loading-btn{
  outline: none !important;
  padding: 7px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: var(--normal-text-font-family);
  transition: all 0.3s;
  cursor: not-allowed;
  border-radius: 5px;
  width: 100%;
  display: none;
}

.language-option{
    margin-bottom: 0 !important;
    padding: 5px 13px !important;
    border-radius: 25px;
    border: 1px solid #7b7b7b;
    text-decoration: none;
    color: inherit;
}

.language-option:hover{
    text-decoration: none;
    color: inherit;
}


.text_black {
    line-height: 21px;
    font-size: 15px;
}

.text-gradient {
    background: linear-gradient(263.57deg, #62bb46 20%, #0c79f9 63%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    display: inline-block;
    font-family: var(--title-font-family);
    font-weight: var(--normal-title-font-weight);
}

.bg_light {
    background-color: #F9FAFB;
}

a, .store-location-link {
    color: inherit !important;
}

a:hover, .store-location-link:hover {
    text-decoration: none;
    color: inherit !important;
}

.sora-400 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.sora-600 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

/* Components */
/* Button */
.button {
    background-color: var(--color-blue);
    color: white !important;
    padding: 8px 15px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    font-family: var(--normal-text-font-family);
    font-size: 0.875rem;
    outline: none !important;
    cursor: pointer;
}

.button:focus {
    outline: none;
    border: none;
}

.button:hover {
    opacity: .8;
    color: white !important;
}

/* End Components */

.poppins-400 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

/* End Global */

/* 
    Top Header
    by Razzak
*/

.top_header {
    display: none;
}

@media(min-width: 992px) {
    .top_header {
        display: flex;
    }
}

.top_header {
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 10%;
    font-size: 1.2vw;
    border-bottom: 2px solid rgb(222, 222, 222);
    line-height: 20px;
}

.top_header .logo {
    height: 2.6rem;
}

.top_header .lang {
    outline: none;
    border: none;
    cursor: pointer;
}

.top_header .options {
    display: flex;
    align-items: center;
}

.top_header .options>div {
    padding: 0px 10px;
    cursor: pointer;
}

.top_header .options>div:hover {
    opacity: .8;
}

.top_header .options .contact_button {
    background-color: #62BB46;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
}

.top_header .br {
    border-right: 1px solid rgb(212, 212, 212);
}

/* menu */
/* menu */
.menu_container {
    display: none;
}

@media(min-width: 992px) {
    .menu_container {
        display: flex;
    }
}

.menu_container {
    justify-content: center;
    padding: 20px 0px;
}

.menu {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.menu li {
    display: inline-block;
    position: relative;
}

.menu li:hover .dropdown_menu {
    display: block;
}

.menu li a {
    text-decoration: none;
    color: inherit;
    color: var(--color-gray);
    /* border: 1px solid gray; */
    padding: 5px 10px;
    transition: background-color 300ms;
    white-space: nowrap;
}

.menu li a:hover {
    color: #0C79F9;
    background-color: #E7F2FF;
    border-radius: 7px;
}

.dropdown_menu {
    display: none;
    position: absolute;
    top: 33px;
    background-color: white;
    transition: display 300ms;
    z-index: 1;
}

.dropdown_menu_item {
    display: block;
    width: 100%;
}

.other {
    height: 150px;
    background-color: rgb(226, 226, 226);
}

/* footer */
/* footer */
.footer {
    background-color: black;
    color: white;
    padding: 2rem 0rem 5rem 0rem;
}

.footer_logo {
    height: 3rem;
}

.footer .socials {
    margin-top: 10px;
}

.footer .socials a {
    display: block;
    background-color: #0C79F9;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
}

.footer .socials a:hover {
    opacity: var(--hover-opacity);
}

.footer .quick_links {
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 20px;
}

.footer .quick_links li {
    margin-bottom: 5px;
}

.footer .quick_links li:hover {
    opacity: var(--hover-opacity);
}

.footer .map {
    border-radius: 6px;
    max-width: 100%;
    margin-top: 20px;
}

.footer .content {
    border-bottom: 1px solid #383838;
    padding-bottom: 20px;
}

.footer .text {
    color: rgb(185 185 185);
}

/* small_header */
/* small_header */
.small_header {
    display: none;
}

@media (max-width: 992px) {
    .small_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 10%;
        /* font-size: 1.2vw; */
        border-bottom: 2px solid rgb(222, 222, 222);
        /* line-height: 20px; */
    }
}

.small_header .logo {
    height: 2.6rem;
}

.small_header .menu_control_icon {
    font-size: 1.3rem;
}

.sm_menu .dropdown-menu {
    padding: 0px !important;
    background-color: inherit !important;
    border: none !important;
}

/* sm_menu */
/* sm_menu */
.sm_menu {
    display: none;
}

/* @media(max-width: 992px) {
    .sm_menu {
        display: block;
    }
} */

/* 
wrap wrap
wrap wrap
*/

#wrap {
    position: relative;
}

#lb_ac {
    position: fixed;
    bottom: 35px;
    left: 35px;
    background-color: transparent;
    z-index: 1;
}

#lb_ac .icon img {
    width: 40px;
}

/* #lb_ac .contact_icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
} */

#rb_ac {
    position: fixed;
    bottom: 35px;
    right: 35px;
    background-color: transparent;
    z-index: 1;
}

#rb_ac .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white; */
}

#rb_ac .icon img {
    width: 40px;
}

.flag_image {
    display: none;
    width: 23px;
}

.mobile-bottom-menu{
    padding: 10px;
    background-color: #F9FAFB;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10000000;
}

.mobile-bottom-menu-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.mobile-menu-item-name{
    font-family: var(--normal-text-font-family);
    font-size: 11px;
}

/* Testimonial like prohori (start) */

.testimonial-title {
    font-family: var(--title-font-family);
    font-weight: var(--normal-title-font-weight);
    background: linear-gradient(263.57deg, #62bb46 20%, #0c79f9 63%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    display: inline-block;

}

.testimonial-heading {
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
    margin-bottom: 1.875rem;
}

.swiper{
    padding: 0 0.188rem !important;
}

.swiper-wrapper{
    padding-bottom: 40px;
}

.testimonial-like-prohori{
  height: fit-content;
}

.tst-pro-container{
  display: flex;
  gap: 1.25rem;
}

.tst-pro-card-header{
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(12,121,249,1) 100%);
  padding: 3.75rem;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  display: flex;
  justify-content: center;
  position: relative;
}

.tst-pro-card-image{
  position: absolute;
  width: 8.75rem;
  height: 8.75rem;
  border-radius: 100%;
  transform: translateY(50%);
  bottom: 0;
  overflow: hidden;
}

.tst-pro-card-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tst-pro-card-body{
  padding: 6.25rem 0.938rem 0.938rem 0.938rem;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-bottom-left-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
}

.tst-pro-card-title{
  font-family: var(--title-font-family);
  font-weight: var(--heading-font-weight);
}

.tst-pro-card-designation{
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    line-height: 1.5rem;
    color: #7b7b7b;
    font-size: 15px;
}

.tst-pro-card-review-text{
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    line-height: 1.5rem;
    color: #7b7b7b;
    margin-bottom: 1.125rem;
    font-size: 0.875rem;
}

.tst-pro-card-review-text-icon{
  width: 1.875rem;
}

/* Testimonial like prohori (end) */

/* responsiveness (start) */
@media(min-width: 0px){
    #lb_ac, #rb_ac{
        display: none;
    }
}

@media(min-width: 576px){

}

@media(min-width: 768px){

    .login-form{
        width: 600px;
        flex-direction: row;
    }

    .login-form-left, .login-form-right{
        width: 50%;
    }

    #lb_ac, #rb_ac{
        display: block;
    }

    .mobile-bottom-menu{
        display: none;
    }

    .talk-with-expert-button{
        display: block;
    }
}

@media(min-width: 992px){
    .talk-with-expert-button{
        right: -10px;
    }

    .talk-with-expert-form{
        right: 10px;
    }
}

@media(min-width: 1200px){

}

@media(min-width: 1400px){

}
/* responsiveness (end) */