/* Google Font (start) */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Google Font (end) */

:root {
    --primary-color: #0c79f9;
    --title-font-family: "Sora", sans-serif;
    --normal-text-font-family: "Poppins", sans-serif;
    --heading-font-weight: 600;
    --normal-title-font-weight: 400;
}

/* 
Page Global 
*/
.block .header {
    display: flex;
    justify-content: center;
}

.block .header .content {
    max-width: 400px;
    text-align: center;
}

.block .header .content .desc {
    color: var(--text-gray);
    line-height: 21px;
    margin-top: 12px;
}

/* 
End Page Global 
*/

/* OTP modal (start) */

.otp-modal-parent-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(214, 214, 212, 0.7);
    z-index: 100000;
    display: none;
}

.otp-modal-parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.otp-modal-header{
    display: flex;
    justify-content: end;
    padding: 10px;
    border-bottom: 1px solid #f3f3f3;
}

.otp-modal-body{
    padding: 0px 10px;
}

.otp-modal-body h5{
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
}

.otp-modal-close-btn{
    font-size: 1.75rem;
    cursor: pointer;
    color: #E10505;
}

.otp-modal{
    width: 40%;
    background-color: #fff;
}

#otp-input{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 100px;
    outline: none !important;
    font-size: 15px;
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
}

.submit-btn-container{
    display: flex;
    justify-content: center;
}

.otp-form-submit-btn{
    padding: 5px 25px;
    border: none;
    outline: none !important;
    border-radius: 100px;
    background-color: var(--primary-color);
    font-family: var(--normal-text-font-family);
    color: #fff;
    cursor: pointer;
}

/* OTP modal (end) */

/* 
Carousel
*/
.carousel-inner img {
    width: 100%;
    /*height: 100%; See Later*/
}

/* 
End Carousel
*/


/* 
Our All Products
*/

.bg_light {
    background-color: #F9FAFB;
}

.oap {
    margin-top: 80px;
}

.oapd {
    margin-bottom: 80px;
}

.bsp {
    display: flex;
    justify-content: center;
}

.text-gradient {
    background: linear-gradient(263.57deg, #1e9d26 20%, #3144ac 63%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    display: inline-block;
}

.bsp .content {
    max-width: 587px;
    text-align: center;
}

.bsp .content .desc {
    color: var(--text-gray);
    line-height: 21px;
    margin-top: 12px;
}

/* bspd */
/* bspd */
.bspd {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;
    /* padding: 0px 10px; */
    padding: 0px 107px;
}

.bspd ._card {
    border: 2px solid rgb(238, 238, 238);
    gap: 10px;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .bspd ._card {
        width: 100%;
    }

    .bspd {
        padding: 0px 0px;
    }
}

.bspd ._card img {
    width: 100%;
    border-radius: 10px;
}

.bspd ._card .title {
    font-size: 19px;
    line-height: 19px;
    margin: 12px 0px;
    height: 19px;
    overflow-y: hidden;
}

._card .c_img {
    position: relative;
}

._card .ribbon {
    clip-path: polygon(0% 0%, 75% 0%, 70% 50%, 75% 100%, 0%100%);
    background-color: var(--color-blue);
    width: 170px;
    padding: 5px 8px;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
}

._card .amount_big {
    font-size: 19px;
    color: var(--color-blue);
}

._card .old_amount {
    font-size: 15px;
    color: var(--text-gray);
    text-decoration: line-through;
    text-decoration-color: red;
}

._card .percent_off {
    background-color: var(--color-blue);
    color: #fff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    line-height: 11px;
    font-size: 11px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

._card .tags {
    display: flex;
}

._card .tags {
    display: flex;
    gap: 7px;
    flex-wrap: wrap;
    margin-top: 10px;
}

._card .tags .item {
    background-color: #E5F1FF;
    color: var(--color-blue);
    padding: 1px 6px;
    border-radius: 15px;
    font-size: 12px;
}

._card .tags .color1 {
    background-color: #E5F1FF;
    color: var(--color-blue);
}

._card .tags .color2 {
    background-color: #FFEAF8;
    color: rgb(243, 50, 227);

}

._card .tags .color3 {
    background-color: #FFF8E7;
    color: #FFD879;
}

._card .button_outline {
    margin-top: 10px;
    display: block;
    text-align: center;
    border: 1px solid var(--color-blue);
    border-radius: 8px;
    padding: 4px 0px;
    box-shadow: 0px 1px 1px rgba(90, 186, 245, 0.405);
    transition: background-color 300ms;
    outline: none !important;
    width: 100%;
    cursor: pointer;
}

._card .button_outline:hover {
    background-color: var(--color-blue);
    color: white;
}

/* 
End Our All Products
*/

/* Our All Features */
/* discover */
.discover {
    background-color: #F9FAFB;
    /* margin: 60px 100px; */
    padding: 60px 0px;
}

.discover ._cards {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.discover ._cards ._card {
    background-color: white;
    width: 301px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.064);
    padding: 16px;
    border-radius: 10px;
}

.discover .icon {
    width: 42px;
}

.discover .title {
    padding: 13px 0px;
    font-size: 14px;
}

.text {
    color: var(--text-gray);
    line-height: 21px;
    font-size: 15px;
}

@media (max-width: 700px) {

    .discover ._cards ._card {
        width: 100%;
    }

    .discover {
        margin: 60px 0px;
        padding: 60px 10px;
    }
}

/* End Our All Features */
/* End discover */

/*
    Frequently Asked Question
*/

.faq .accordion {
    background-color: #fff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid rgb(242, 242, 242);
    cursor: pointer;
}

.faq .active+.panel {
    background-color: #0C79F9;
    color: white;
}

.faq .spacer {
    margin-bottom: 10px;
}

.faq .accordion:after {
    content: '\2335';
    font-weight: bold;
    float: right;
    text-align: center;
    transition: rotate 200ms;
}

.faq .active:after {
    content: "\2335";
    rotate: 180deg;
}

.faq .panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: -1px;
    border-left: 1px solid rgb(242, 242, 242);
    border-right: 1px solid rgb(242, 242, 242);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.accordions {
    width: 49%;
}

@media (max-width: 700px) {
    .accordions {
        width: 100%;
    }
}

.faq_text {
    line-height: 21px;
    font-size: 15px;
    margin-top: 1rem;
}

.faq .faq_content {
    display: flex;
    justify-content: center;
}

/*
    End Frequently Asked Question
*/

/* Testimonials (start) */

.my-container {
    width: 60rem;
    margin: 0 auto;
}

.testimonial .swiper-pagination {
    display: none;
}

.testimonial {
    /* margin-bottom: 5.625rem; */
}

.testimonial-title {
    font-family: var(--title-font-family);
    font-weight: var(--normal-title-font-weight);
    background: linear-gradient(263.57deg, #62bb46 20%, #0c79f9 63%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    display: inline-block;
}

.testimonial-heading {
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
    margin-bottom: 2.813rem;
}

.testimonial-slide {
    display: flex;
    align-items: center;
    gap: 1.875rem;
}

.client-image {
    width: 35%;
    height: 17.188rem;
    overflow: hidden;
    border-radius: 0.938rem;
}

.client-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.client-comment {
    width: 65%;
}

.testimonial-icon {
    width: 3.438rem;
}

.client-comment-text {
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    line-height: 1.5rem;
    color: #7b7b7b;
    margin-bottom: 1.125rem;
}

.client-name {
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
}

.client-designation {
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    line-height: 1.5rem;
    color: #7b7b7b;
    font-size: 15px;
}

.testimonial .swiper-wrapper {
    padding-bottom: 4.063rem;
}

.testimonial .swiper-button-next,
.testimonial .swiper-button-prev {
    top: 90%;
}

.testimonial .swiper-button-prev {
    left: 38%;
    transform: translateX(-50%);
}

.testimonial .swiper-button-next {
    right: 53%;
    transform: translateX(-50%);
}

.testimonial .swiper-button-next,
.testimonial .swiper-button-prev {
    background-position: center;
    background-repeat: no-repeat;
    padding: 8px 15px;
    transition: all 0.3s ease;
    width: 40px !important;
    height: 40px !important;
    border: 2px solid var(--primary-color);
    border-radius: 100%;
}

.testimonial .swiper-button-prev:hover,
.testimonial .swiper-button-next:hover {
    background-color: var(--primary-color);
}

.testimonial .swiper-button-next:after,
.testimonial .swiper-button-prev:after {
    font-size: 10px;
}

.testimonial .swiper-button-prev:hover,
.testimonial .swiper-button-next:hover {
    color: #fff;
}

@media (min-width: 0px) {
    .my-container {
        width: 100%;
        padding: 0 0.625rem;
    }

    .testimonial-slide {
        flex-wrap: wrap;
    }

    .client-image,
    .client-comment {
        width: 100%;
    }

    .testimonial-heading {
        margin-bottom: 2.188rem;
    }

    .testimonial .swiper-button-next,
    .testimonial .swiper-button-prev {
        top: 97%;
    }

    .testimonial .swiper-button-prev {
        left: 35%;
        transform: translateX(-35%);
    }

    .testimonial .swiper-button-next {
        right: 35%;
        transform: translateX(-35%);
    }

    .testimonial .swiper-button-next,
    .testimonial .swiper-button-prev {
        display: none;
    }

    .testimonial .swiper-pagination {
        display: block;
    }

    .testimonial .swiper-wrapper {
        padding-bottom: 2.813rem;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .my-container {
        width: 34rem;
    }

    .client-image {
        height: 23.125rem;
    }

    .testimonial .swiper-button-prev {
        left: 40%;
        transform: translateX(-40%);
    }

    .testimonial .swiper-button-next {
        right: 40%;
        transform: translateX(-40%);
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .my-container {
        width: 45rem;
    }

    .testimonial .swiper-button-next,
    .testimonial .swiper-button-prev {
        display: flex;
    }

    .testimonial .swiper-pagination {
        display: none;
    }

    .testimonial .swiper-wrapper {
        padding-bottom: 4.063rem;
    }

    .testimonial .swiper-button-prev {
        left: 43%;
        transform: translateX(-43%);
    }

    .testimonial .swiper-button-next {
        right: 43%;
        transform: translateX(-43%);
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .my-container {
        width: 60rem;
    }

    .testimonial-slide {
        flex-wrap: nowrap;
    }

    .client-image {
        width: 35%;
        height: 17.188rem;
    }

    .client-comment {
        width: 65%;
    }

    .testimonial-heading {
        margin-bottom: 2.813rem;
    }

    .testimonial .swiper-button-next,
    .testimonial .swiper-button-prev {
        top: 90%;
    }

    .testimonial .swiper-button-prev {
        left: 38%;
        transform: translateX(-50%);
    }

    .testimonial .swiper-button-next {
        right: 53%;
        transform: translateX(-50%);
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .my-container {
        width: 60rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .my-container {
        width: 71.25rem;
    }
}

/* Responsiveness (end) */

/* Testimonials (end) */