/* Global CSS (start) */

/* Google Font (start) */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Google Font (end) */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0c79f9;
  --primary-box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  --secondary-box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --title-font-family: "Sora", sans-serif;
  --normal-text-font-family: "Poppins", sans-serif;
  --inter-font-family: "Inter", sans-serif;
  --heading-font-weight: 600;
  --normal-title-font-weight: 400;
}

a{
    color: inherit !important;
}

a:hover {
    text-decoration: none !important;
    color: inherit !important;
}

.text {
    color: var(--text-gray);
    line-height: 21px;
    font-family: var(--normal-text-font-family);
    font-size: 0.875rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

p {
  font-size: 0.875rem;
}

/* Global CSS (end) */

/* Main Content (start) */

.my-container{
  width: 90rem;
  margin: 0 auto;
}

/* Query submission success modal (start) */

/*.query-submission-success-modal-parent-container{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(214, 214, 212, 0.7);
    display: none;
}

.query-submission-success-modal-parent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}*/

/* Thanks div (start) */

/*.thanks-div-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
}*/

.thanks-div{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 25px 18px;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    position: relative;
    background-color: #fff;
    display: none;
}

.thanks-div-title{
    font-family: var(--title-font-family);
    font-weight: var(--normal-title-font-weight);
}

.order_completion_icon{
    width: 40px;
}

.thanks-div-description{
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 14px;
    line-height: 24px;
    color: #737373;
}

.form_illustration_icon{
    width: 15px;
    position: absolute;
}

.form_illustration_icon_1{
    top: 0;
    left: 60%;
}

.form_illustration_icon_2{
    top: 40px;
    left: 10%;
}

.form_illustration_icon_3{
    top: 20px;
    right: 10%;
}

.form_illustration_icon_4{
    bottom: 20px;
    left: 5%;
}

.form_illustration_icon_5{
    bottom: 40px;
    right: 5%;
}

.payment-success-button-container{
    display: flex;
    justify-content: center;
}

.payment-success-btn{
    border: none;
    outline: none !important;
    background-color: var(--primary-color);
    color: #fff;
    font-family: var(--title-font-family);
    font-weight: var(--normal-title-font-weight);
    border-radius: 5px;
    font-size: 15px;
    padding: 8px 30px;
    cursor: pointer;
}

.no-name-warning, .no-email-warning, .no-comment-warning{
    width: 100%;
    font-family: var(--inter-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 0.813rem;
    padding: 0.313rem 0.625rem;
    background-color: #FFEAF8;
    color: #E10505;
    border-radius: 0.313rem;
    display: none;
}

/* Thanks div (end) */

/* Query submission success modal (end) */

.scroll-to-top-btn-parent{
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 10px;
    display: none;
}

.scroll-to-top-btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.scroll-to-top-button{
    border: none;
    outline: none !important;
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.message-sent-successful-alert{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    font-family: var(--normal-text-font-family);
}

.message-sent-successful-alert-cancel-btn{
    color: #e10505;
    font-size: 1rem;
    font-family: var(--normal-text-font-family);
    cursor: pointer;
}

.banner-image{
  width: 100%;
  height: 34.063rem;
  overflow: hidden;
}

.banner-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-details{
  display: flex;
  gap: 2.188rem;
  width: 97%;
  margin: 0 auto;
}

.blog-details-left{
  width: 75%;
  margin-top: -70px;
}

.blog-details-right{
  width: 25%;
}

.time-and-category{
  display: flex;
  gap: 0.313rem;
}

.blog-category{
  background-color: #000;
  color: #fff;
  padding: 0.313rem 0.5rem;
  font-family: var(--normal-text-font-family);
}

.time-to-finish{
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.313rem 0.5rem;
  font-family: var(--normal-text-font-family);
}

.blog-details-main-text-content{
  background-color: #fff;
  font-family: var(--title-font-family);
  font-weight: var(--heading-font-weight);
  padding: 1.25rem 0.5rem;
}

.blog-publication-date{
  font-family: var(--normal-text-font-family);
  font-weight: var(--normal-title-font-weight);
  color: #7b7b7b;
}

.blog-author{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border-top: 0.188rem solid #F8F9FA;
  border-bottom: 0.188rem solid #F8F9FA;
  padding: 1.25rem 0 1.25rem 0;
}

.blog-author-image{
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 100%;
  overflow: hidden;
}

.blog-author-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-author-name{
  font-family: var(--normal-text-font-family);
  font-weight: var(--heading-font-weight);
  color: #54595F;
}

.text-content-details{
  line-height: 1.875rem;
  font-family: var(--normal-text-font-family);
  overflow-x: scroll;
}

.user-query-form{
  width: 100%;
  padding: 1.875rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-heading{
  font-family: var(--title-font-family);
  font-weight: var(--heading-font-weight);
}

.name-input-container{
  display: flex;
  align-items: center;
  gap: 15px;
}

.input-label{
  font-family: var(--normal-text-font-family);
  font-size: 14px;
}

.form-input{
  border: 1px solid #ddd;
  width: 100%;
  padding: 5px 10px;
  outline: none;
  font-family: var(--normal-text-font-family);
  font-size: 14px;
  flex: 1;
  border-radius: 5px;
}

.email-input-container{
  display: flex;
  align-items: center;
  gap: 15px;
}

.mobile-number-input-container{
  display: flex;
  align-items: center;
  gap: 15px;
}

.form-submit-button-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-submit-btn{
  outline: none !important;
  padding: 5px 50px;
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary-color);
  border-radius: 100px;
  cursor: pointer;
  font-family: var(--normal-text-font-family);
  transition: all 0.3s;
}

.form-submit-btn:hover{
  background-color: #fff;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.query-submit-loading-btn{
  outline: none !important;
  padding: 10px 72px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: var(--normal-text-font-family);
  transition: all 0.3s;
  cursor: not-allowed;
  border-radius: 100px;
  display: none;
}

.suggested-blog{
  width: 100%;
  text-decoration: none;
  color: #000;
}

.suggested-blog:hover{
  text-decoration: none;
  color: #000;
}

.suggested-blog-image{
  width: 100%;
  height: 9.375rem;
  overflow: hidden;
}


.suggested-blog-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.suggested-blog-title{
  font-family: var(--normal-text-font-family);
  border-bottom: 1px solid #ddd;
  padding-bottom: 18px;
}

/* Blog Comments (start) */

.blog-comments-heading{
    font-family: var(--title-font-family);
    font-weight: var(--heading-font-weight);
}

.users-comment{
    border: 0.063rem solid #ddd;
    padding: 0.625rem;
    border-radius: 5px;
}

.users-identity{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.users-image{
    width: 2.813rem;
    height: 2.813rem;
    border-radius: 100%;
    overflow: hidden;
}

.users-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.users-name{
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 0.938rem;
}

.users-comment-box-text-area{
    border: 0.063rem solid #ddd;
    padding: 0.625rem;
    width: 100%;
    outline: none !important;
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 0.875rem;
    line-height: 1.7;
    border-radius: 5px;
}

.comment-submit-btn{
  outline: none !important;
  padding: 5px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: var(--normal-text-font-family);
  transition: all 0.3s;
  font-size: 0.875rem;
  border-radius: 6.25rem;
}

.comment-submit-loading-btn{
  outline: none !important;
  padding: 5px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: var(--normal-text-font-family);
  transition: all 0.3s;
  display: none;
  cursor: not-allowed;
  border-radius: 100px;
}

.comment-submit-loading-btn img{
    width: 3.1em;
    height: 1.5em;
}

.other-users-comment{
    border: 0.063rem solid #ddd;
    padding: 0.625rem;
    border-radius: 5px;
}
.other-users-identity{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.other-users-image{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    overflow: hidden;
}

.other-users-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.other-users-name{
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 0.875rem;
}

.other-users-comment-text{
    font-family: var(--normal-text-font-family);
    font-weight: var(--normal-title-font-weight);
    font-size: 0.875rem;
    line-height: 1.7;
}

.other-users-comment-text svg path{
    fill: var(--primary-color);
}

.all-other-users-comment-container{
    display: none;
}

.comment-see-more-btn, .comment-see-less-btn{
  outline: none !important;
  padding: 5px 30px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: var(--normal-text-font-family);
  transition: all 0.3s;
  font-size: 0.875rem;
  border-radius: 100px;
}

/* Blog Comments (end) */

/* Main Content (end) */

/* Responsiveness (start) */

@media (min-width: 0px) {
  .my-container {
    width: 100%;
    padding: 0 0.625rem;
  }

  .odd-section .my-container {
    padding: 2.188rem 0.625rem;
  }

  .banner-image{
    height: 25rem;
  }

  .blog-details{
    flex-direction: column;
  }

  .blog-details-right, .blog-details-left{
    width: 100%;
  }

  .suggested-blogs{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }

  .suggested-blog{
    width: 100%;
  }

  .suggested-blog-image{
    height: 12.5rem;
  }

  .name-input-container, .email-input-container, .mobile-number-input-container{
    flex-direction: column;
    align-items: start;
    gap: 5px;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .my-container,
  .odd-section .my-container {
    width: 45rem;
  }

  .suggested-blog{
    width: 48%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .my-container,
  .odd-section .my-container {
    width: 50rem;
  }

  .banner-image{
    height: 34.063rem;
  }

  .name-input-container, .email-input-container, .mobile-number-input-container{
    flex-direction: row;
    align-items: center;
    gap: 15px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .my-container,
  .odd-section .my-container {
    width: 60rem;
  }

 /* .thanks-div{
    width: 60%;
  }*/

  .blog-details{
    flex-direction: row;
  }

 .blog-details-left{
    width: 75%;
  }

  .blog-details-right{
    width: 25%;
  }

  .suggested-blogs{
    display: block;
    gap: 0;
  }

  .suggested-blog{
    width: 100%;
  }

  .suggested-blog-image{
    height: 9.375rem;
  }

  .text-content-details{
    overflow-x: auto;
  }

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .my-container,
  .odd-section .my-container {
    width: 70rem;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .my-container,
  .odd-section .my-container {
    width: 75.25rem;
  }
}

/* Responsiveness (end) */
